ol, ul {
    list-style: none;
}

#mainMenu {
    margin: 20px;
    width: 900px;
    font-family: 'Roboto', sans-serif;
}

#mainMenu li {
    display: block;
    width: 90px;
    float: left;
    margin-left: 0px;
    border: 1px solid #f2f2f2;
}

#mainMenu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: black;
}

#mainMenu a:hover {
    background-color: #e6f3ff;
    color: white;
}