/* item cards from w3schools */
footer {
  text-align: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item img {
  max-width: 300px;
  text-align: center;
  font-family: 'Roboto';
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* SLIDESHOW, from w3schools */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position:absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Bootstrap template CSS below */
